{
  "users": {
    "brian": {
      "userId": "brian",
      "email": {
        "recipients": [
          "brian.a.griffey@gmail.com"
        ]
      },
      "schedule": {
        "dayOfWeek": 0,
        "hour": 10,
        "minute": 0
      },
      "preferences": {
        "numberOfMeals": 3,
        "servingsPerMeal": 2,
        "minProteinPerMeal": 40,
        "maxCaloriesPerMeal": 500,
        "dietaryRestrictions": []
      },
      "heb": {
        "enabled": true
      }
    },
    "allison": {
      "userId": "allison",
      "email": {
        "recipients": [
          "coolallison@gmail.com"
        ]
      },
      "schedule": {
        "dayOfWeek": 0,
        "hour": 10,
        "minute": 0
      },
      "preferences": {
        "numberOfMeals": 7,
        "servingsPerMeal": 1,
        "minProteinPerMeal": 35,
        "maxCaloriesPerMeal": 450,
        "dietaryRestrictions": ["gluten-free"]
      },
      "heb": {
        "enabled": true
      }
    },
    "family": {
      "userId": "family",
      "email": {
        "recipients": [
          "brian.a.griffey@gmail.com",
          "coolallison@gmail.com"
        ]
      },
      "schedule": {
        "dayOfWeek": 6,
        "hour": 18,
        "minute": 0
      },
      "preferences": {
        "numberOfMeals": 7,
        "servingsPerMeal": 4,
        "minProteinPerMeal": 40,
        "maxCaloriesPerMeal": 600,
        "dietaryRestrictions": []
      },
      "heb": {
        "enabled": true
      }
    }
  }
}
